.App__Projects_Item
  .description, .header
    white-space noWrap
    text-overflow ellipsis
    overflow hidden

  .App__Projects_Item_Actions
    display none

  &:hover
    .App__Projects_Item_Actions
      display block

