.App__Projects_Item
  .description, .header
    white-space noWrap
    text-overflow ellipsis
    overflow hidden

  .button
    padding .78571429em 1em

  .dropdown > .dropdown.icon
    margin 0

  .App__Projects_Item_Actions
    display none

  &:hover
    .App__Projects_Item_Actions
      display block
