.App__Projects
  height 402px!important
  overflow auto
  padding 5px

.App__Projects_More
  display flex
  justify-content center

.App__Projects_List
  padding-left 5px!important
  padding-right 5px!important
