body, html
  height initial

.max-width
  width 100%

.container
  margin 10px

.ps-scrollbar-y-rail
  background-color transparent!important

.projects__item
  .projects__item__favorite--hidden
    visibility hidden
  &:hover
    .projects__item__favorite--hidden
      visibility visible

.projects__item.favorite
  .projects__item__favorite--hidden
    visibility visible
    color #fca326

.projects__item__action
  visibility hidden

.projects__item__favorite--hidden
  color grey
  &:hover
    color #fca326

.item
  &:hover
    .projects__item__action
      visibility visible

.clipboard-input
  width 100%

.ui.dropdown.menu
  left -75px

.title
  margin-bottom 10px!important
  color rgba(45, 45, 45, 0.87)!important
  text-align center!important

input::selection
  background rgb(204, 225, 254)
