// nav #FAFAFA

body, html
  height initial

.max-width
  width 100%

.container
  margin 10px

.projects__item__action
  visibility hidden

.item
  &:hover
    .projects__item__action
      visibility visible

.clipboard-input
  width 100%

.ui.dropdown.menu
  left -75px

.title
  margin-bottom 10px!important
  color rgba(45, 45, 45, 0.87)!important
  text-align center!important
