.App__AccessToken
  background-color #f3f3f3

.App__AccessToken_Content
  flex 1
  align-self center
  margin 10px
  text-align center

.App__AccessToken_Form
  text-align center

  div:nth-child(1), button
    margin-bottom 10px!important
