.NewIssue
  display flex
  flex: 1
  flex-direction column
  padding 10px

.NewIssue_Project
  color gray
  font-size 0.8em
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

.NewIssue_Form
  display flex
  flex 1
  flex-direction column
  .input,
  textarea
    margin-bottom 10px!important

.NewIssue_Form_Description
  display flex
  margin-bottom 5px
  align-items center

