.NewIssue
  display flex
  flex: 1
  flex-direction column
  padding 10px

.NewIssue_Project
  color gray
  font-size 0.8em

.NewIssue_Form
  display flex
  flex 1
  flex-direction column
  .input
    margin-bottom 10px
.NewIssue_Form_Description
  margin-bottom 5px

