.App__TopBar_Todos
  margin-right 10px
  color rgba(0,0,0,0.55)

  .todos
    margin 0!important

  .counter
    height 13px
    width 15px
    text-align center
    background-color #4285F4
    position absolute
    padding 2px
    font-size 0.7em
    border-radius 3px
    color white
    left 10px
    cursor pointer
