.Todo
  color rgba(0,0,0,.8)!important
  // border-top 1px solid transparent
  // border-bottom 1px solid transparent
  &:hover
    // background-color #ecf4fb!important
    // border-color #bcd7f1!important

.Todo_Title
  margin-bottom 10px

.Todo_Body
  margin 0
  border-left 2px solid #ddd
  padding-left 10px

.Todo_Actions
  display flex
  align-items center
  padding-left .7em
