.App__TopBar
  padding: 10px
  background-color #FAFAFA
  border-bottom 1px solid rgb(229, 229, 229)

.App__TopBar_Content
  display flex
  align-items center

  .input
    flex 1
    margin-right 10px

  .ui.dropdown > .dropdown.icon
    margin 0

  .menu
    top 35px!important
    left -87px!important
    padding 3px!important
